
/* buttons */
/* Header Container */
header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1rem 0;
    margin-bottom: 1rem;
    border-bottom: 1px solid #e0e0e0; /* Light grey border */
    background-color: #ffffff; /* Light background color */
}

/* Header Branding */
header a {
    display: flex;
    align-items: center;
    margin-bottom: 0;
    text-decoration: none;
    color: #000; /* Black text color */
}


header span {
    font-size: 1.25rem; /* Larger font size for the header text */
    font-weight: bold; /* Bold text */
    margin-right: 20rem; /* Space between header text and navigation */
}

/* Navigation */
ul.nav {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul.nav li.nav-item {
    margin: 0 0.5rem; /* Space between nav items */
}

ul.nav a.nav-link {
    padding: 0.5rem 1rem;
    text-decoration: none;
    color: #007bff; /* Blue color for links */
    border-radius: 0.25rem; /* Rounded corners */
    font-size: 1rem; /* Font size for links */
    transition: background-color 0.3s, color 0.3s; /* Smooth transitions */
}

ul.nav a.nav-link.active, /* Active link */
ul.nav a.nav-link:hover { /* Hover state */
    color: #fff; /* White text color */
    background-color: #007bff; /* Blue background */
}

#barbell-icon{
    height: 3rem;
    margin-right: 1rem; /* Space between SVG and text */
}


#main{
    height: 100vh;
    background-color: lightseagreen;
}

