
/* buttons */
#main{
    height: 100vh;
    background-color: lightseagreen;
}


.nav-pills .nav-link.active, .nav-pills .show>.nav-link .custom-btn {
    color: #fff;
    background-color: lightseagreen !important;
}

.nav-item a .custom-words{
    color: lightseagreen !important;
}
